<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>contact us</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </head>
  <body>

<div class="main">

  <div class="main-1">



      <h1 class="t">Contact Us</h1>
    <div class="con">

<div class="row">
  <div class="col-lg-6">
    <div class="iandt">
      <img class="icon " src="images/placeholder.png" alt="">
      <h3 class="pcontt ">Find US</h3>

      <div class="pcont">
        <p>SRM University, Potheri, SRM Nagar, Kattankulathur, Tamil Nadu 603203</p>


      </div>
    </div>
    <div class="iandt">
      <img class="icon" src="images/phone.png" alt="err">
        <h3 class="pcontt">Phone</h3>
      <div class="pcont">

        <p>+9174348484848 ,+9174348484848</p>
          <p></p>

      </div>
    </div>
    <div class="iandt">
      <img class="icon" src="images/gmail.png" alt="">
      <h3 class="pcontt">Mail</h3>

      <div class="pcont">
        <p>sarveshkannabiran@gmail.com 4zeracing@gmail.com</p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="v">

    </div>
    <div class="social">
      <h5>Find us on social networks</h5>
      <a href="#">      <img class="social_icon" src="images/facebook.png" alt="">
</a>
      <a href="#">      <img class="social_icon" src="images/instagram.png" alt="">
</a>
      <a href="#">      <img class="social_icon" src="images/twitter.png" alt="">
</a>
      <a href="#">      <img class="social_icon" src="images/linkedin.png" alt="">
</a>

    </div>
    <div class="card">
      <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

    </div>
  </div>




  </div>






    </div>
</div>










  </div>




  </body>
</html>
